.input {
  background-color: #203f5b;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 40%;
  h1 {
    color: white;
    padding: 20px 20px;
  }
  img {
    display: none;
    width: 50%;
  }
  .label-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 20px;
    input {
      width: 100%;
      padding: 10px 20px;
      margin-bottom: 10px;
      border-radius: 5px;
      border: 1.5px solid #9f9f9f;
      background-color: #f9f9f9;
      &:hover {
        outline-color: $green;
        outline-width: 0px;
      }
      &:focus {
        outline-width: 0px;
        border: 1.5px solid $green;
      }
    }
    label {
      padding: 5px 10px 5px 0px;
      align-self: flex-start;
      color: white;
      font-weight: 700;
      user-select: none;
      font-size: 18px;
    }
    button {
      background-color: $green;
      width: 100%;
      box-shadow: none;
      padding: 10px;
      border-radius: 0px;
      margin: 10px 0px;
      color: white;
      font-weight: 600;
      font-size: 20px;
      opacity: 0.9;
      cursor: pointer;
      &:hover {
        transform: scale(1.001);
        opacity: 1;
      }
    }
  }
  .post-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-size: 14px;
    padding: 20px 0px;
    a {
      text-decoration: none;
      color: white;
      font-weight: 600;
      font-size: 20px;
    }
  }
  .post-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;

    p {
      color: white;
      font-size: 20px;
    }
    a {
      text-decoration: none;
      color: $green;
      font-weight: 600;
      font-size: 20px;
      padding: 0px 10px;
    }
  }
}
